In [1]:
import json
import os
from collections import defaultdict
import pandas as pd
from tqdm import tqdm

# Random No Press Game Results

In [41]:
for _ in tqdm(range(100)):
    os.system("python ../random_no_press.py")

In [42]:
file = "RandomNoPressBotGame.json"

In [54]:
power_wins = defaultdict(int)
comb_wins = defaultdict(int)
winner_counts = defaultdict(int)
no_of_games = 0
with open(file)  as f:
    for line in f:
        game = json.loads(line)
        pow_win = [pow1.strip() for pow1 in game['phases'][-1]['state']['note'].split(":")[-1].split(",")]
        comb_wins[",".join(pow_win)] += 1
        winner_counts[len(pow_win)] += 1
        for pow1 in pow_win:
            power_wins[pow1] += 1
        no_of_games += 1

for pow1 in power_wins:
    power_wins[pow1] /= no_of_games

In [55]:
power_wins

defaultdict(int,
            {'AUS': 0.54,
             'RUS': 0.52,
             'ENG': 0.51,
             'FRA': 0.57,
             'TUR': 0.59,
             'GER': 0.49,
             'ITA': 0.38})

In [119]:
pd.DataFrame.from_dict({'AUS': 0.54,
             'RUS': 0.52,
             'ENG': 0.51,
             'FRA': 0.57,
             'TUR': 0.59,
             'GER': 0.49,
             'ITA': 0.38}, orient='index').sort_values(by=0, ascending=False)

        0
TUR  0.59
FRA  0.57
AUS  0.54
RUS  0.52
ENG  0.51
GER  0.49
ITA  0.38

In [56]:
comb_wins

defaultdict(int,
            {'AUS': 10,
             'RUS': 12,
             'AUS,ENG,FRA,RUS,TUR': 8,
             'ENG,GER,ITA,RUS,TUR': 2,
             'TUR': 2,
             'AUS,ENG,GER,RUS,TUR': 2,
             'AUS,FRA,ITA,RUS,TUR': 2,
             'FRA': 4,
             'ENG,GER,ITA,TUR': 3,
             'AUS,ENG,FRA,GER,ITA,RUS,TUR': 1,
             'AUS,ENG,FRA,TUR': 1,
             'AUS,ENG,FRA,GER,TUR': 3,
             'AUS,FRA,GER,RUS,TUR': 2,
             'AUS,ENG,FRA,GER,RUS,TUR': 1,
             'ENG,FRA,GER,ITA,RUS,TUR': 2,
             'AUS,ENG,FRA,GER,ITA,TUR': 1,
             'AUS,ENG,GER,TUR': 1,
             'AUS,ENG,FRA,ITA,RUS,TUR': 4,
             'ENG,FRA,RUS,TUR': 1,
             'AUS,ENG,GER,ITA,RUS,TUR': 2,
             'ENG,FRA,GER,ITA,TUR': 7,
             'AUS,GER,ITA,RUS': 1,
             'GER': 5,
             'ENG,FRA,ITA,TUR': 1,
             'AUS,ENG,FRA,ITA,TUR': 1,
             'AUS,ENG,FRA,GER,RUS': 2,
             'ENG,FRA,GER,TUR': 3,
             'AUS,FRA,GER,RUS': 1,
             'AUS,FRA,GER,ITA,RUS,TUR': 1,
             'AUS,FRA,GER,ITA,RUS': 1,
             'AUS,ENG,FRA,GER,ITA': 1,
             'AUS,FRA,GER,TUR': 2,
             'AUS,ITA,RUS,TUR': 1,
             'AUS,GER,ITA,TUR': 1,
             'AUS,FRA,ITA,RUS': 1,
             'AUS,ENG,FRA,RUS': 1,
             'FRA,GER,RUS,TUR': 1,
             'FRA,GER,ITA,RUS,TUR': 1,
             'ENG,ITA,TUR': 1,
             'AUS,ENG,FRA,GER,ITA,RUS': 1,
             'AUS,FRA,ITA,TUR': 1,
             'ENG,FRA,GER,ITA,RUS': 1})

In [120]:
pd.DataFrame.from_dict({'AUS': 10,
             'RUS': 12,
             'AUS,ENG,FRA,RUS,TUR': 8,
             'ENG,GER,ITA,RUS,TUR': 2,
             'TUR': 2,
             'AUS,ENG,GER,RUS,TUR': 2,
             'AUS,FRA,ITA,RUS,TUR': 2,
             'FRA': 4,
             'ENG,GER,ITA,TUR': 3,
             'AUS,ENG,FRA,GER,ITA,RUS,TUR': 1,
             'AUS,ENG,FRA,TUR': 1,
             'AUS,ENG,FRA,GER,TUR': 3,
             'AUS,FRA,GER,RUS,TUR': 2,
             'AUS,ENG,FRA,GER,RUS,TUR': 1,
             'ENG,FRA,GER,ITA,RUS,TUR': 2,
             'AUS,ENG,FRA,GER,ITA,TUR': 1,
             'AUS,ENG,GER,TUR': 1,
             'AUS,ENG,FRA,ITA,RUS,TUR': 4,
             'ENG,FRA,RUS,TUR': 1,
             'AUS,ENG,GER,ITA,RUS,TUR': 2,
             'ENG,FRA,GER,ITA,TUR': 7,
             'AUS,GER,ITA,RUS': 1,
             'GER': 5,
             'ENG,FRA,ITA,TUR': 1,
             'AUS,ENG,FRA,ITA,TUR': 1,
             'AUS,ENG,FRA,GER,RUS': 2,
             'ENG,FRA,GER,TUR': 3,
             'AUS,FRA,GER,RUS': 1,
             'AUS,FRA,GER,ITA,RUS,TUR': 1,
             'AUS,FRA,GER,ITA,RUS': 1,
             'AUS,ENG,FRA,GER,ITA': 1,
             'AUS,FRA,GER,TUR': 2,
             'AUS,ITA,RUS,TUR': 1,
             'AUS,GER,ITA,TUR': 1,
             'AUS,FRA,ITA,RUS': 1,
             'AUS,ENG,FRA,RUS': 1,
             'FRA,GER,RUS,TUR': 1,
             'FRA,GER,ITA,RUS,TUR': 1,
             'ENG,ITA,TUR': 1,
             'AUS,ENG,FRA,GER,ITA,RUS': 1,
             'AUS,FRA,ITA,TUR': 1,
             'ENG,FRA,GER,ITA,RUS': 1}, orient='index').sort_values(by=0, ascending=False)

                              0
RUS                          12
AUS                          10
AUS,ENG,FRA,RUS,TUR           8
ENG,FRA,GER,ITA,TUR           7
GER                           5
AUS,ENG,FRA,ITA,RUS,TUR       4
FRA                           4
ENG,FRA,GER,TUR               3
ENG,GER,ITA,TUR               3
AUS,ENG,FRA,GER,TUR           3
AUS,ENG,FRA,GER,RUS           2
AUS,ENG,GER,ITA,RUS,TUR       2
ENG,FRA,GER,ITA,RUS,TUR       2
AUS,FRA,GER,RUS,TUR           2
AUS,FRA,ITA,RUS,TUR           2
AUS,ENG,GER,RUS,TUR           2
TUR                           2
ENG,GER,ITA,RUS,TUR           2
AUS,FRA,GER,TUR               2
ENG,ITA,TUR                   1
AUS,ENG,FRA,GER,ITA           1
FRA,GER,ITA,RUS,TUR           1
FRA,GER,RUS,TUR               1
AUS,ENG,FRA,RUS               1
AUS,ENG,FRA,GER,ITA,RUS       1
AUS,FRA,ITA,TUR               1
AUS,FRA,ITA,RUS               1
AUS,GER,ITA,TUR               1
AUS,ITA,RUS,TUR               1
AUS,GER,ITA,RUS               1
AUS,FRA,GER,ITA,RUS           1
AUS,FRA,GER,ITA,RUS,TUR       1
AUS,FRA,GER,RUS               1
AUS,ENG,FRA,ITA,TUR           1
ENG,FRA,ITA,TUR               1
ENG,FRA,RUS,TUR               1
AUS,ENG,GER,TUR               1
AUS,ENG,FRA,GER,ITA,TUR       1
AUS,ENG,FRA,GER,RUS,TUR       1
AUS,ENG,FRA,TUR               1
AUS,ENG,FRA,GER,ITA,RUS,TUR   1
ENG,FRA,GER,ITA,RUS           1

In [57]:
winner_counts

defaultdict(int, {1: 33, 5: 33, 4: 20, 7: 1, 6: 12, 3: 1})

In [118]:
pd.DataFrame.from_dict({1: 33, 5: 33, 4: 20, 7: 1, 6: 12, 3: 1}, orient='index').sort_values(by=0, ascending=False)

    0
1  33
5  33
4  20
6  12
7   1
3   1

# SLP 2 bot game plays

In [2]:
game_play_count = 100

## Germany and Italy

In [3]:
file = "RandomLSP_VS_NoPress_GERM_ITALY_BotGame.json"
pows = 'GERMANY,ITALY'

os.system(file)

for _ in tqdm(range(game_play_count)):
    os.system(f"python ../analysis_bot.py -p {pows} -f {file}")

power_wins = defaultdict(int)
comb_wins = defaultdict(int)
winner_counts = defaultdict(int)
no_of_games = 0
with open(file)  as f:
    for line in f:
        game = json.loads(line)
        pow_win = [pow1.strip() for pow1 in game['phases'][-1]['state']['note'].split(":")[-1].split(",")]
        comb_wins[",".join(pow_win)] += 1
        winner_counts[len(pow_win)] += 1
        for pow1 in pow_win:
            power_wins[pow1] += 1
        no_of_games += 1

for pow1 in power_wins:
    power_wins[pow1] /= no_of_games

100%|██████████| 100/100 [13:58<00:00,  8.38s/it]

In [4]:
pd.DataFrame.from_dict(power_wins, orient='index').sort_values(by=0, ascending=False)

            0
TUR  0.676471
FRA  0.632353
ENG  0.558824
AUS  0.551471
RUS  0.492647
GER  0.404412
ITA  0.323529

In [5]:
pd.DataFrame.from_dict(comb_wins, orient='index').sort_values(by=0, ascending=False)

                              0
AUS                          15
AUS,ENG,FRA,GER,TUR          11
RUS                          11
FRA                           8
AUS,ENG,FRA,RUS,TUR           7
AUS,ENG,FRA,ITA,RUS,TUR       7
ENG,FRA,GER,ITA,TUR           6
ENG,FRA,GER,RUS,TUR           5
AUS,FRA,RUS,TUR               5
TUR                           5
GER                           4
AUS,ENG,FRA,ITA,TUR           4
ENG,FRA,GER,ITA,RUS,TUR       4
ENG,FRA,ITA,RUS,TUR           3
AUS,ENG,FRA,TUR               3
AUS,ENG,FRA,GER,ITA,TUR       3
ENG,ITA,RUS,TUR               3
AUS,FRA,ITA,RUS               2
AUS,ENG,GER,RUS,TUR           2
AUS,ENG,FRA,GER,ITA,RUS,TUR   2
AUS,ENG,GER,TUR               2
ENG,FRA,RUS,TUR               2
AUS,ENG,ITA,RUS,TUR           2
FRA,GER,RUS,TUR               2
FRA,GER,TUR                   2
ENG,FRA,GER,TUR               2
AUS,ENG,RUS,TUR               2
FRA,GER,ITA,TUR               2
AUS,ENG,FRA,GER,RUS           2
AUS,ENG,GER,ITA,TUR           1
FRA,ITA,RUS,TUR               1
AUS,FRA,GER,ITA,RUS,TUR       1
AUS,FRA,GER,RUS,TUR           1
AUS,ENG,GER,ITA,RUS           1
AUS,ENG,FRA,GER,RUS,TUR       1
AUS,ITA,RUS                   1
ENG,GER,ITA,TUR               1

In [6]:
pd.DataFrame.from_dict(winner_counts, orient='index').sort_values(by=0, ascending=False)

    0
5  45
1  43
4  27
6  16
3   3
7   2

## Germany and Russia

In [7]:
file = "RandomLSP_VS_NoPress_GERM_RUSS_BotGame.json"
pows = 'GERMANY,RUSSIA'

os.system(file)

for _ in tqdm(range(game_play_count)):
    os.system(f"python ../analysis_bot.py -p {pows} -f {file}")

power_wins = defaultdict(int)
comb_wins = defaultdict(int)
winner_counts = defaultdict(int)
no_of_games = 0
with open(file)  as f:
    for line in f:
        game = json.loads(line)
        pow_win = [pow1.strip() for pow1 in game['phases'][-1]['state']['note'].split(":")[-1].split(",")]
        comb_wins[",".join(pow_win)] += 1
        winner_counts[len(pow_win)] += 1
        for pow1 in pow_win:
            power_wins[pow1] += 1
        no_of_games += 1

for pow1 in power_wins:
    power_wins[pow1] /= no_of_games

100%|██████████| 100/100 [13:07<00:00,  7.88s/it]

In [8]:
pd.DataFrame.from_dict(power_wins, orient='index').sort_values(by=0, ascending=False)

            0
FRA  0.653846
RUS  0.605769
TUR  0.605769
ENG  0.567308
AUS  0.557692
ITA  0.413462
GER  0.384615

In [9]:
pd.DataFrame.from_dict(comb_wins, orient='index').sort_values(by=0, ascending=False)

                              0
RUS                          11
AUS                          10
AUS,ENG,FRA,RUS,TUR           8
ENG,FRA,GER,ITA,TUR           8
AUS,ENG,FRA,ITA,RUS,TUR       5
ENG,FRA,ITA,RUS,TUR           5
FRA                           4
ENG,FRA,GER,RUS,TUR           4
GER                           4
AUS,FRA,ITA,RUS,TUR           3
AUS,ENG,FRA,GER,RUS,TUR       3
AUS,ENG,FRA,TUR               3
AUS,FRA,RUS                   2
AUS,FRA,GER,ITA,TUR           2
ENG,FRA,GER,ITA,RUS,TUR       2
AUS,ENG,FRA,RUS               2
AUS,ENG,GER,ITA,TUR           2
AUS,ENG,ITA,RUS,TUR           2
AUS,ENG,FRA,ITA,RUS           2
AUS,ENG,ITA,RUS               1
AUS,ENG,FRA,GER,TUR           1
AUS,ENG,FRA,GER,ITA,RUS,TUR   1
AUS,FRA,ITA,RUS               1
FRA,ITA,RUS,TUR               1
AUS,GER,ITA,RUS,TUR           1
AUS,ENG,FRA,GER,RUS           1
FRA,GER,ITA,RUS,TUR           1
FRA,GER,ITA,TUR               1
AUS,ENG,FRA,ITA,TUR           1
AUS,ENG,FRA,GER,ITA,TUR       1
ENG,FRA,RUS,TUR               1
AUS,FRA,GER,RUS,TUR           1
FRA,GER,TUR                   1
AUS,FRA,RUS,TUR               1
AUS,ENG,GER,RUS               1
AUS,ENG,FRA,GER               1
ENG,FRA,GER,TUR               1
TUR                           1
AUS,ENG,GER,ITA,RUS,TUR       1
AUS,ENG,GER,ITA,RUS           1
ENG,GER,ITA,RUS,TUR           1

In [10]:
pd.DataFrame.from_dict(winner_counts, orient='index').sort_values(by=0, ascending=False)

    0
5  44
1  30
4  14
6  12
3   3
7   1

## Austria and Italy

In [11]:
file = "RandomLSP_VS_NoPress_AUS_ITAL_BotGame.json"
pows = 'AUSTRIA,ITALY'

os.system(file)

for _ in tqdm(range(game_play_count)):
    os.system(f"python ../analysis_bot.py -p {pows} -f {file}")

power_wins = defaultdict(int)
comb_wins = defaultdict(int)
winner_counts = defaultdict(int)
no_of_games = 0
with open(file)  as f:
    for line in f:
        game = json.loads(line)
        pow_win = [pow1.strip() for pow1 in game['phases'][-1]['state']['note'].split(":")[-1].split(",")]
        comb_wins[",".join(pow_win)] += 1
        winner_counts[len(pow_win)] += 1
        for pow1 in pow_win:
            power_wins[pow1] += 1
        no_of_games += 1

for pow1 in power_wins:
    power_wins[pow1] /= no_of_games

100%|██████████| 100/100 [12:51<00:00,  7.72s/it]

In [12]:
pd.DataFrame.from_dict(power_wins, orient='index').sort_values(by=0, ascending=False)

        0
TUR  0.63
RUS  0.58
FRA  0.57
ENG  0.50
GER  0.48
ITA  0.36
AUS  0.35

In [13]:
pd.DataFrame.from_dict(comb_wins, orient='index').sort_values(by=0, ascending=False)

                              0
RUS                          19
GER                          10
ENG,FRA,GER,ITA,TUR           7
AUS,ENG,FRA,RUS,TUR           6
AUS,ENG,FRA,ITA,RUS,TUR       5
FRA,GER,ITA,TUR               5
AUS,ENG,FRA,GER,TUR           5
ENG,FRA,GER,RUS,TUR           4
FRA                           4
ENG,FRA,ITA,RUS,TUR           3
AUS,ENG,FRA,GER,ITA,RUS,TUR   3
AUS,ENG,FRA,GER,RUS,TUR       2
AUS                           2
FRA,RUS,TUR                   2
GER,ITA,RUS,TUR               2
AUS,ENG,RUS,TUR               2
ENG,GER,ITA,TUR               2
TUR                           1
ENG,FRA,GER,TUR               1
ENG,FRA,GER,ITA,RUS           1
AUS,FRA,ITA,RUS,TUR           1
ENG,ITA,RUS,TUR               1
AUS,FRA,GER,ITA,RUS,TUR       1
AUS,FRA,RUS,TUR               1
ENG,FRA,TUR                   1
FRA,ITA,RUS,TUR               1
AUS,ENG,FRA,GER,ITA,TUR       1
AUS,ENG,GER,ITA,TUR           1
ENG,FRA,ITA,TUR               1
AUS,ENG,FRA,TUR               1
AUS,ENG,GER,RUS,TUR           1
AUS,FRA,GER,RUS,TUR           1
AUS,ENG,GER,RUS               1
AUS,ENG,ITA,RUS,TUR           1

In [14]:
pd.DataFrame.from_dict(winner_counts, orient='index').sort_values(by=0, ascending=False)

    0
1  36
5  31
4  18
6   9
7   3
3   3

## England and France

In [15]:
file = "RandomLSP_VS_NoPress_ENG_FRAN_BotGame.json"
pows = 'ENGLAND,FRANCE'

os.system(file)

for _ in tqdm(range(game_play_count)):
    os.system(f"python ../analysis_bot.py -p {pows} -f {file}")

power_wins = defaultdict(int)
comb_wins = defaultdict(int)
winner_counts = defaultdict(int)
no_of_games = 0
with open(file)  as f:
    for line in f:
        game = json.loads(line)
        pow_win = [pow1.strip() for pow1 in game['phases'][-1]['state']['note'].split(":")[-1].split(",")]
        comb_wins[",".join(pow_win)] += 1
        winner_counts[len(pow_win)] += 1
        for pow1 in pow_win:
            power_wins[pow1] += 1
        no_of_games += 1

for pow1 in power_wins:
    power_wins[pow1] /= no_of_games

100%|██████████| 100/100 [16:20<00:00,  9.80s/it]

In [16]:
pd.DataFrame.from_dict(power_wins, orient='index').sort_values(by=0, ascending=False)

        0
TUR  0.61
ENG  0.57
RUS  0.53
AUS  0.49
FRA  0.48
GER  0.44
ITA  0.41

In [17]:
pd.DataFrame.from_dict(comb_wins, orient='index').sort_values(by=0, ascending=False)

                          0
AUS                      12
RUS                      10
AUS,ENG,FRA,RUS,TUR       8
GER                       7
ENG,FRA,ITA,RUS,TUR       6
ENG,GER,ITA,RUS,TUR       5
AUS,ENG,FRA,GER,ITA,TUR   5
ENG,FRA,GER,ITA,RUS,TUR   4
AUS,ENG,FRA,GER,TUR       4
ENG,GER,ITA,TUR           3
AUS,ENG,FRA,GER,RUS,TUR   2
AUS,ENG,FRA,TUR           2
AUS,FRA,RUS,TUR           2
ITA                       2
AUS,ENG,GER,TUR           2
FRA                       2
ENG,FRA,GER,ITA,TUR       2
ENG,ITA,RUS,TUR           2
GER,ITA,RUS,TUR           1
FRA,GER,ITA,RUS,TUR       1
AUS,ENG,ITA,RUS,TUR       1
AUS,FRA,ITA,RUS           1
AUS,FRA,TUR               1
FRA,GER,ITA,TUR           1
ENG,FRA,ITA,TUR           1
AUS,ENG,GER,RUS,TUR       1
ENG,FRA,RUS,TUR           1
AUS,ENG,FRA,ITA,RUS,TUR   1
AUS,ENG,FRA,RUS           1
AUS,FRA,GER,TUR           1
ENG,FRA,GER,TUR           1
ENG,GER,ITA,RUS           1
AUS,ENG,ITA,RUS           1
AUS,FRA,GER,ITA,RUS       1
AUS,ENG,RUS,TUR           1
AUS,ENG,GER,ITA,RUS,TUR   1
TUR                       1
AUS,ENG,GER,ITA,RUS       1

In [18]:
pd.DataFrame.from_dict(winner_counts, orient='index').sort_values(by=0, ascending=False)

    0
1  34
5  30
4  22
6  13
3   1

## England and Austria

In [19]:
file = "RandomLSP_VS_NoPress_ENG_AUS_BotGame.json"
pows = 'ENGLAND,AUSTRIA'

os.system(file)

for _ in tqdm(range(game_play_count)):
    os.system(f"python ../analysis_bot.py -p {pows} -f {file}")

power_wins = defaultdict(int)
comb_wins = defaultdict(int)
winner_counts = defaultdict(int)
no_of_games = 0
with open(file)  as f:
    for line in f:
        game = json.loads(line)
        pow_win = [pow1.strip() for pow1 in game['phases'][-1]['state']['note'].split(":")[-1].split(",")]
        comb_wins[",".join(pow_win)] += 1
        winner_counts[len(pow_win)] += 1
        for pow1 in pow_win:
            power_wins[pow1] += 1
        no_of_games += 1

for pow1 in power_wins:
    power_wins[pow1] /= no_of_games

100%|██████████| 100/100 [11:53<00:00,  7.14s/it]

In [20]:
pd.DataFrame.from_dict(power_wins, orient='index').sort_values(by=0, ascending=False)

        0
TUR  0.62
FRA  0.61
AUS  0.58
ENG  0.55
RUS  0.55
GER  0.49
ITA  0.33

In [21]:
pd.DataFrame.from_dict(comb_wins, orient='index').sort_values(by=0, ascending=False)

                          0
AUS,ENG,FRA,RUS,TUR      10
GER                       9
RUS                       7
AUS                       5
AUS,ENG,FRA,GER,RUS,TUR   5
TUR                       4
AUS,ENG,FRA,GER,TUR       3
AUS,FRA,RUS,TUR           3
AUS,ENG,FRA,RUS           3
AUS,ENG,FRA,ITA,RUS,TUR   3
FRA                       3
AUS,ENG,FRA,GER,ITA,TUR   3
AUS,ENG,FRA,TUR           2
ENG,FRA,ITA,RUS,TUR       2
ENG,FRA,GER,ITA,RUS,TUR   2
ITA                       2
AUS,ENG,GER,ITA,TUR       2
ENG,FRA,GER,RUS,TUR       2
AUS,GER,TUR               2
AUS,FRA,GER,RUS,TUR       2
AUS,ENG,FRA,ITA,RUS       2
AUS,ENG,FRA,GER,ITA,RUS   2
ENG,FRA,GER,ITA,TUR       2
AUS,FRA,GER,ITA,TUR       1
AUS,ENG,ITA,RUS           1
AUS,ENG,FRA,GER,RUS       1
AUS,ENG,ITA,RUS,TUR       1
FRA,GER,ITA,RUS,TUR       1
AUS,ENG,GER,ITA,RUS       1
FRA,GER,ITA,RUS           1
FRA,ITA,RUS,TUR           1
ENG,FRA,GER,TUR           1
FRA,GER,ITA,TUR           1
ENG,GER,ITA,RUS,TUR       1
AUS,ENG,FRA,GER,ITA       1
ENG,GER,ITA,TUR           1
AUS,ENG,GER,RUS,TUR       1
AUS,FRA,GER,ITA,RUS,TUR   1
FRA,GER,RUS,TUR           1
AUS,ENG,ITA,TUR           1
AUS,ENG,GER,TUR           1
ENG,FRA,RUS,TUR           1
AUS,FRA,GER,TUR           1

In [22]:
pd.DataFrame.from_dict(winner_counts, orient='index').sort_values(by=0, ascending=False)

    0
5  33
1  30
4  19
6  16
3   2